<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <link rel="stylesheet" href="/stylesheets/style2.css">
</head>
<div class="header">
  <a href="/profile">
  <img
    src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/pinterest-round-color-icon.png"
    class="icon pinterest-icon"></a>
  <ul class="navigation">
    <li><a href="/home"> Home </a></li>
    <li><a href="/feed"> Explore </a></li>
    <li><a href="/add">Create </a> </li>
  </ul>
  <div class="search-bar">
    <img src="/images/search-icon.png" class="search-icon">
    <input type="text" placeholder="Search">
  </div>
  <div class="nav-icons">
    <img src="https://uxwing.com/wp-content/themes/uxwing/download/communication-chat-call/bell-icon.png"
      class="icon nav-icon">
    <img
      src="https://uxwing.com/wp-content/themes/uxwing/download/communication-chat-call/speech-bubble-black-icon.png"
      class="icon nav-icon">
    <img src="https://uxwing.com/wp-content/themes/uxwing/download/arrow-direction/angle-bottom-icon.png"
      class="icon nav-icon arrow-icon">
      
  </div>
  <div class="logout"> <a  href="/logout">Log Out</a></div>
</div>