<!DOCTYPE html>
<html>

<head>
    <title>
        Sign Up
    </title>
    <link rel='stylesheet' href='/stylesheets/style1.css' />
</head>

<body>
    <h1>Sign up to <br>
        get your <br>
        ideas</h1>
    <div class="container">
        <div class="content">
            <!--pinterest logo-->
            <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo"
                class="img1" />
            <p class="header">Welcome to Pinterest</p>
            <h7> Find new ideas to try</h7>
            
            <form action="/register" method="post">
                <h4>Username</h4>
                <input type="username" name="username" placeholder="username" class="detail"/><br />
                <h4>Full Name</h4>
                <input type="text" name="name" placeholder="name" class="detail"/><br />
                <h4 class="al">Email</h4>
                <input type="email" name="email" placeholder="Email" class="detail" /><br />
                <h4>Password</h4>
                <input type="password" name="password" placeholder="Password" class="detail" />
                <h4 >Birth Date</h4>
                <input type="date" name="dateOfBirth" placeholder="BirthDate" class="detail" />
                <input class="btn int" type="submit" value="Continue">
                <p class="or">OR</p>
            
            <button class="btn fbk">
                <i class="fab fa-facebook fa-lg" style="color: white; padding-right: 10px"></i><a href="#">Continue
                    with Facebook</a></button><br />
            <button class="btn ggl">
                <i class="fab fa-google" style="color: rgb(11, 241, 22); padding-right: 10px"></i><a href="#">Continue
                    with Google</a>
            </button>
        </form>
            <footer>
                <p>
                    By continuing, you agree to Pinterest's
                    <b>Terms of Service </b>and acknowledge you've read our
                    <b>Privacy Policy. Notice at collection</b>
                </p>
                <hr />
                <p>Already a member? <a href="/">Log in</a></p>
            </footer>
        </div>
    </div>




</body>

</html>